smtp_fromaddr = "xxxx"
smtp_toaddrs = [ "xxxx" ]
smtp_credentials = ["xxxx", "xxxx"] 

db_conn_host = "localhost"
db_conn_database = "coconut_db"
db_conn_user = "postgres"
db_conn_password = "postgres"