smtp_fromaddr = "xxxx"
smtp_toaddrs = [ "xxxx" ]
smtp_credentials = ["xxxx", "xxxx"] 

db_conn_host = "xxxx"
db_conn_database = "xxxx"
db_conn_user = "xxxx"
db_conn_password = "xxxx"

INFERENCE_URL = "xxxx"